<!DOCTYPE HTML>
<HTML>

<HEAD>
	<TITLE>Nathan Nieuwenhuizen</TITLE>
  <script src="app.js"></script>
  <link rel="stylesheet" href="assets/style.css">
</HEAD>

<BODY>
  <form>
    <input type="button" id="playButton" value="Play">
    <input type="button" id="stepButton" value="Step">
    <input type="button" id="resetButton" value="reset path">

    <input type="button" id="clearWallsButton" value="clear walls">
    <input type="button" id="randomWallsButton" value="random walls">
    show parent line<input type="checkbox" id="showParentLine">
    show distances<input type="checkbox" id="showDistances">
    diagonal paths<input type="checkbox" id="diagonal">

    <p>Click to add/remove wall and hold green/red cell to change position.</p>

  </form>
  <canvas id="canvas"> canvas detected...</canvas>
</BODY>

</HTML>